<div class="display">
    <div class="section-header pb-2">
        <h3 class="font-weight-normal text-purple">Add Participants</h3>
    </div>
    <div class="section-content pt-3" *ngIf="availableUsers?.length">
        <div *ngFor="let user of availableUsers"
            [ngClass]="{'selected':isUserSelected(user)}"
            class="d-flex align-items-center justify-content-between p-3 rounded-lg user">
            <span class="profile-pic" style="background-image: url({{user.profilePic.src}});">
                <span class="fa fa-check"></span>
            </span>
            <span class="font-weight-light h3 username">{{user.username}}</span>
            <span *ngIf="!isUserSelected(user)" (click)="handleUser(user, 'add')" class="btn btn-icon fa fa-plus-circle approve"></span>
            <span *ngIf="isUserSelected(user)" (click)="handleUser(user, 'remove')" class=" btn btn-icon fa fa-minus-circle deny"></span>
        </div>
    </div>
    <div class="section-content pt-3" *ngIf="!availableUsers?.length">
        <span class="font-weight-light h3 no-results ml-2" *ngIf="mode==='create'">No users available to chat</span>
        <span class="font-weight-light h3 no-results ml-2" *ngIf="mode==='add'">All available users added to room</span>
    </div>
    <div class="section-footer">
        <div class="footer-content form-group">
            <button class="btn btn-block bg-purple text-light rounded-0" (click)="submit()" 
            [disabled]="!selectedUsers?.length">DONE</button>
        </div>
    </div>
</div>