@import ../../../styles.sass
.section-content
    position: relative
    max-height: calc(100vh - 236px)
    min-height: calc(100vh - 236px)
    overflow-y: auto
    .block-action
        position: absolute
        bottom: 2rem
    .user
        width: 20rem
        margin: auto
        background-color: white
        margin-bottom: 1rem
        .username
            color: $text-secondary
    .user.selected
        background-color: $btn-secondary
        .username
            color: $text-primary
        .profile-pic
            background-color: $text-primary
    .user .btn-icon:hover, .user.selected .btn-icon:hover
        color: $btn-icon-hover
    .user .btn-icon
        color: black !important
    .user.selected .btn-icon
        color: white !important
@media screen and ( max-width:  720px)
    .section-content
        max-height: calc(100vh - 331px) !important
        min-height: calc(100vh - 331px) !important
@media screen and ( max-width:  325px)
    .user
        width: 100% !important
    