
<div class="display">
    <div tabindex="0" class="section-header pt-3">
        <h3 class="font-weight-normal text-primary mb-4">Welcome to Fabricate!</h3>
    </div>
    <div tabindex="0" class="section-content px-3">
        <p>
            To start chatting, open the sidebar and click the pencil button. Then, add some people to your room and click submit. 
            If all users leave a room, all messages disappear along with the room.
        </p>
        <p>
            When someone sends you a request to join their room it'll show up under the bell button in the side bar. 
            Click the check button to approve or the x button to deny the request.
        </p>
        <p>
            Each room has controls to add another person or leave the room. To switch between rooms you're in, open the sidebar and click the room.
        </p>
    </div>
    <div tabindex="0" class="section-footer bg-dark">
        <div class="footer-content">
            <h3 tabindex="0" class="text-light text-center font-weight-normal">Made by Milagro Quintero-Macias</h3>
            <ul class="list-inline text-center ml-auto">
                <li class="list-inline-item px-3"><a target="_blank" href="https://github.com/milaquintero" class="h5 font-weight-light text-light"><span class="fa fa-github"></span></a></li>
                <li class="list-inline-item px-3"><a target="_blank" href="https://www.linkedin.com/in/mila-quintero-bb652b122/" class="h5 font-weight-light text-light"><span class="fa fa-linkedin"></span></a></li>
                <li class="list-inline-item px-3"><a target="_blank" href="https://milagroquintero.com" class="h5 font-weight-light text-light"><span class="fa fa-tachometer"></span></a></li>
            </ul>
        </div>
    </div>
</div>