<div #sideBar class="wrapper">
    <div id="content" [ngClass]="{'hidden':!sideBarHidden}">
        <div class="bg-dark-purple h-100 d-flex p-0 flex-column" id="content-container">
            <button type="button" id="chatBtn" class="btn btn-block rounded-0"
                [ngClass]="sideBarHidden ? 'btn-info' : 'btn-danger p-4 text-light'" (click)="toggleSideBar()">
                <i [ngClass]="sideBarHidden ? 'fa fa-comment' : 'fa fa-close'"></i>
                <span class="d-block mt-1" *ngIf="sideBarHidden">Menu</span>
            </button>
        </div>
    </div>
    <nav id="sidebar" [ngClass]="{'hidden':sideBarHidden, 'shadow':!sideBarHidden}" class="bg-light p-4 d-flex flex-column"
        [ngStyle]="{'z-index': sideBarHidden ? '0' : '1000'}">
        <div class="sidebar-header d-flex justify-content-between">
            <h4 class="font-weight-normal text-purple">Chats</h4>
            <div id="room-controls">
                <button type="button" id="notificationsBtn" 
                class="btn btn-outline-dark border-0 text-purple rounded-sm"
                (click)="showNotifications()">
                    <i class="fa fa-bell-o"></i>
                </button>
                <span *ngIf="curUser.requests?.length" class="badge badge-danger" id="notificationBadge">{{curUser.requests.length}}</span>
                <button type="button" id="createRoomBtn" 
                class="btn btn-outline-dark border-0 text-purple rounded-sm"
                (click)="createRoom()">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
            </div>
        </div>
        <hr class="mb-3">
        <ul class="list-unstyled components" *ngIf="!sideBarHidden && formattedRoomsCurUser?.length">
            <li *ngFor="let room of formattedRoomsCurUser" (click)="enterRoom(room)"
                [ngClass]="{'selected': isRoomSelected(room.roomID)}" class="btn py-3 px-0 m-0 user w-100" tabindex="0">
                <div class="row align-items-center">
                    <div *ngFor="let headerUser of room.headerUsers; let i = index" class="d-flex justify-content-around align-items-center">
                        <!-- only display first user for each room and shorthand version of any remainder users in room (e.g., +1) -->
                        <span *ngIf="i === 0" class="profile-pic ml-4"
                        style="background-image: url({{headerUser.profilePic.src}});">
                            <span class="fa fa-check"></span>
                        </span>
                        <span *ngIf="i === 0" class="username h3 ml-3">
                            <span *ngIf="i > 0 && room.headerUsers.length > 1" class="font-weight-light mx-1">,</span>
                            <span *ngIf="i > 0 && room.headerUsers.length === 1" class="font-weight-light mx-2">and</span>
                            <span class="font-weight-light">{{headerUser.username}}</span>
                            <span *ngIf="room.headerUsers.length > 1">
                                <span class="font-weight-light h3">, +{{room.headerUsers.length - 1}} Other(s)</span>
                            </span>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled components" *ngIf="!sideBarHidden && !formattedRoomsCurUser?.length">
            <li class="btn py-3 px-0 m-0 user w-100">
                <span class="font-weight-light h3 no-results">No rooms available</span>
            </li>
        </ul>
    </nav>
</div>