<div class="display">
    <div class="d-flex justify-content-center" id="errorHeaderContainer">
        <h2 id="errorHeader" class="text-primary text-center" tabindex="0">Server error!</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div id="errorPage" class="mt-4 d-flex justify-content-start bg-secondary px-3" tabindex="0">
            <div class="py-4">
                <i class="fa fa-heartbeat"></i>
            </div>
            <p>Please refresh in a minute. Our health service is working on starting the chat server back up. Thank you for your patience!</p>
            <p>Best,</p>
            <p>Milagro Quintero-Macias</p>
        </div>
    </div>
</div>
