@import ../../../styles.sass
.section-content
    min-height: calc(100vh - 80px)
    overflow-y: auto
    .request
        width: 25rem
        margin: auto
        background-color: white
        border: 5px solid $lighter-purple
        margin-bottom: 1rem
        .profile-pic
            border: 6px solid $lighter-purple
        .request-info
            display: flex
        .username
            color: $text-secondary
        .btn-icon
            color: $text-secondary
@media screen and ( max-width:  325px)
    .request
        width: 100% !important