@import ../../../styles.sass
.section-content
    min-height: calc(100vh - 160px)
    overflow-y: auto
    .request
        width: 25rem
        margin: auto
        background-color: white
        margin-bottom: 1rem
        .request-info
            display: flex
        .username
            color: $text-secondary
        .btn-icon
            color: $text-secondary
    .request .btn-icon:hover
            color: $btn-icon-hover
@media screen and ( max-width:  425px)
    .section-content
        max-height: calc(100vh - 254px) !important
        min-height: calc(100vh - 254px) !important
    .request
        width: 100% !important
        display: flex !important
        flex-direction: column