@import ../../../styles.sass
h2
    margin-top: 5vh
    font-weight: 400
.display
    background-color: $bg-primary
    left: 0
#loginPage
    color: $text-primary
    padding-top: 1vh
    width: 380px
    label
        font-size: 24px
    input[type="text"].available
        box-shadow: none
    input[type="text"].unavailable
        box-shadow: 0 0 0 5px $red
    .input-container
        position: relative
    .error-message.bottom
        position: absolute
        bottom: 2.5rem
        left: -9.5rem
        width: max-content
        color: $red
    input[type="image"]
        height: 80px
        width: 80px
        border-radius: 50%
        border: 5px solid $brand-secondary
        background-color: $light-purple
    input[type="image"].selected
        border: 5px solid $btn-secondary
        background-color: $btn-secondary
    .form-group
        span, input
            margin-bottom: 6vh
        label, p
            margin-bottom: 3vh
        button
            font-size: 22px
            padding: 1vh 4vw 1vh 4vw
        input[type="text"], button
            width: 95%
@media screen and (max-width: 720px)
    .display
        margin-top: 0 !important
    .col-xs-12, .row
        margin: 0 !important
        padding: 0 !important
    #loginPage
        min-height: calc(100vh - 80px)
        width: 100vw !important
        margin: 0 !important
        margin-top: 1.5rem !important
        padding-top: 2rem
        h2
            padding-top: 2vh !important
        .form-group
            margin: 0 !important