<nav class="navbar fixed-top navbar-light bg-primary">
    <div id="navbar">
        <ul class="navbar-right d-flex align-items-center list-inline pt-2">
            <li class="list-inline-item">
                <h2 class="font-weight-normal">
                    <a tabindex="0" routerLink="/home" class="text-light" [ngClass]="{'disabled': !user}">Fabricate</a>
                </h2>
            </li>
        </ul>
    </div>
    <div id="main-navbar" *ngIf="user">
        <ul tabindex="0" class="navbar-right d-flex align-items-center list-inline pt-2">
            <li class="list-inline-item">
                <h2>{{user.username}}</h2>
            </li>
            <li class="list-inline-item">
                <div class="dropdown">
                    <input id="profileControlBtn" type="image" class="profile-pic" 
                    src="{{user.profilePic.src}}" alt="{{user.profilePic.description}}"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="profileControlBtn">
                        <button class="dropdown-item px-0 py-3 text-menu" (click)="logout()">
                            <p>Log Out <i class="fa fa-times"></i></p>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>