#main-nav
    z-index: 995
    margin-bottom: 0
    .navbar-right
        margin-right: -30px !important
.list-inline-item, a
    color: white
    color: white
a:hover
    color: white
    text-decoration: none
@media screen and ( max-width:  720px)
    #main-navbar
        .list-inline-item>h3
            display: none