@import ../../../styles.sass
#main-nav
    z-index: 995
    margin-bottom: 0
    .navbar-right
        margin-right: -30px !important
.list-inline-item, a
    color: white
    color: white
a:hover
    color: white
    text-decoration: none
h2
    font-weight: 400
    font-size: 1.75rem
button p
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
    font-size: 18px !important
    font-weight: 600
    margin-block-start: 0
    margin-block-end: 0
    padding-left: 10px
    padding-right: 10px
    text-align: center
    margin-right: 10px
    i
        margin-left: 5px
@media screen and ( max-width:  720px)
    #main-navbar
        .list-inline-item>h3
            display: none